{% assign agenda = site.data.agenda.agenda %}
{% if agenda.visible %}
<section id="agenda" class="main">
    <div class="row">
        <div class="col-6 col-12-medium">
            <span class="image fit"><img src="{{ agenda.imagem }}" alt="Agenda Imagem" /></span>
        </div>
        <div class="col-6 col-12-medium">
            {% for compromisso in agenda.compromisso %}
                {% if compromisso.visible %}
                    <h2>{{ compromisso.title }}</h2>
                    <p> {{ compromisso.detalhes | markdownify }}
                        {% if compromisso.botaohref %}
                        <a href="{{ compromisso.botaohref }}" class="button primary"> {{ compromisso.botaotitulo }}</a></p>
                        {% endif %}
                {% endif %}
            {% endfor %}       
        </div>
    </div>				
</section>
{% endif %}