{% assign agenda = site.data.agenda.agenda %}
{% if agenda.visible %}
<section id="Eventos" class="main special">
    <header class="major">
		<h2>  {{ agenda.title }} </h2>					
	</header>
    <div class="row">
        {% for compromisso in agenda.compromisso %}
        {% if compromisso.visible %}
            <div class="col-6 col-12-medium">
                <span class="image fit"><img src="{{ compromisso.imagem }}" alt="{{ compromisso.title }}" /></span>
            </div>
            <div class="col-6 col-12-medium">
                    <h2>{{ compromisso.title }}</h2>
                    <p> {{ compromisso.detalhes | markdownify }}
                        {% if compromisso.botaohref %}
                        <a href="{{ compromisso.botaohref }}" class="button primary"> {{ compromisso.botaotitulo }}</a></p>
                        {% endif %}                 
            </div>
        {% endif %}
        {% endfor %}     
    </div>				
</section>
{% endif %}