---
layout: default
---
{% include_relative  _home/header.html %}
{% include_relative  _home/nav.html %}
<div id="main">
	<!-- Header -->
	<!-- <header id="header">
			<h1>Diego</h1>
			<p>Inspire</p>
		</header><div id="main">
 -->
				<section id="content" class="main">
					<span class="image main"><img src="images/pic04.jpg" alt="" /></span>
					<h2>Ola!</h2>
					<p>Formado em Jornalismo, Filosofia, Teologia, Coaching e estudante de Psicologia, trabalho, principalmente, com você que busca reduzir o seu nível de estresse, organizar a sua rotina, gerenciar o seu tempo para aumentar a sua produtividade, desempenho e qualidade de vida, focar no que realmente importa e eliminar as distrações, superar o medo e a ansiedade diante de uma tomada de decisão importante e desenvolver uma espiritualidade que alcance a harmonia e a paz interior. </p>
					<p>Há 15 anos compreendendo, analisando e treinando pessoas, quero compartilhar com você a minha experiência pessoal e profissional de aprimoramento na busca do autoconhecimento e do reconhecimento do meu propósito de vida que me faz ser resiliente e solidário diante dos obstáculos e a superar os desafios com paciência, sabedoria, coragem e determinação.</p>
					<h2>MISSÃO</h2>
					<p>O Plano de Terapia tem como objetivo favorecer o desenvolvimento pessoal e espiritual em alta performance, identificando os pensamentos e atitudes da sua história de vida que te impedem de superar os conflitos para alcançar outro nível em sua vida, tornando-se mais produtiva, realizada e feliz.</p>
				</section>

		</div>