---
layout: default
---
	<header id="header" class="alt">
		<span class="logo"><img src="images/logo.png" alt="" /></span>
		<h1>Inspire Terapia Integrativa</h1>
		<p>Cuide da sua saúde emocional e espiritual.<br />
		Siga em nosso instagram <a href="https://www.instagram.com/terapia_inspire/">@terapia_inspire</a>.</p>
	</header>

	<nav id="nav">
		<ul>
			<li><a href="#Inspire" class="active">Inspire</a></li>
			<li><a href="#Diego" >Quem sou eu</a></li>
			<li><a href="#Terapia">Terapia </a></li>
			<li><a href="#Agendar">Agendar</a></li>
			<li><a href="#Logoterapia">Logoterapia</a></li>
			<li><a href="#Planos">Planos</a></li>
		</ul>
	</nav>

	<div id="main">

		<section id="Inspire" class="main special">
			<header class="major">
				<h2>Inspire</h2>					
			</header>
			<p class="content">					
				Sabe aquela sensação de estar perdido? Ou aquela busca interna por respostas e entendimentos de várias questões complexas da sua vida? Eu tenho a chave para suas inquietações. Quem passa pelo processo da Terapia Inspire, realiza mudanças e transformações significativas em sua vida alcançando maior clareza da sua história pessoal e ganha saúde e bem-estar. </br>
				Você já se sentiu frustrado por não conseguir alcançar seus objetivos? Em muitos casos, o estresse ocorre em virtude da falta de organização. Trabalhar com níveis reduzidos de estresse é fundamental para desenvolver e alcançar seus objetivos, para que você consiga encarar as suas tarefas e desafios com mais clareza e tranquilidade.					
			</p>
			<ul class="actions">
				<li><a href="inspire" class="button">BENEFÍCIOS</a></li>
			</ul>
		</section>

		{% include about.html %}

		<section id="Terapia" class="main special">
		<header class="major">
		<h2>O que e a Terapia Integrativa?</h2>
		<p>
		A Terapia Integrativa é uma abordagem de análise existencia, inspirada na Logoterapia fundada por Viktor Frankl, que comprrende o ser humano na sua dimensão física, psíquica, emocional e espiritual, e tem como principios norteadores a buscca pelo sentido da vida apenas do sofrimento humano.
		</p>
		</header>
		<p class="content">
		O Plano de Terapia tem como objetivo favorecer o desenvolvimento pessoal e espiritual em alta performance, identificando os pensamentos e atitudes da sua história de vida que te impedem de superar os conflitos para alcançar outro nível em sua vida, tornando-se mais produtiva, realizada e feliz.
		</p>
		</section>

		{% include contact.html %}

		<section id="Logoterapia" class="main special">
			<header class="major">
				<h2>Logoterapia</h2>
			</header>
			<p>
				<span class="image left"><img src="images/pessoas.jpg" alt="Pessoas" /></span>
				O Plano de Terapia tem como objetivo favorecer o desenvolvimento pessoal e espiritual em alta performance, identificando os pensamentos e atitudes da sua história de vida que te impedem de superar os conflitos para alcançar outro nível em sua vida, tornando-se mais produtiva, realizada e feliz.
				A Terapia com o método da Logoterapia de Viktor Frankl é um dos instrumentos mais eficazes de desenvolvimento humano. Ao entrar nesse universo, você será capaz de sentir o poder da transformação diariamente, tanto no âmbito pessoal como no espiritual. As sessões funcionam por meio de perguntas que levam você à reflexão, potencializando seus pontos fortes, trabalhando seus pontos de melhoria e visando a eliminação de pensamentos limitantes, o que tem um impacto real em todos aspectos da sua vida. 

				</br></br>
				<h3>No DESENVOLVIMENTO PESSOAL vamos:</h3>
				<li> Elaborar um Projeto de vida</h1>
				<li> Superar crenças limitantes</h1>
				<li> Desenvolver a gestão emocional</h1>
				<li> Buscar por respostas para questões complexas</h1>
				<li> Trabalhar a confiança em si mesmo</h1>
				<li> Alcançar com maior agilidade e assertividade os seus objetivos</h1>
				<li> Construir uma visão de futuro clara e real</h1>
				
				</br></br>
				<h3>No DESENVOLVIMENTO PROFISSIONAL vamos:</h3>
				<li>Elaborar um Plano de carreira </h1>
				<li> Aumentar a produtividade </h1>
				<li> Atingir Metas</h1>
				<li>Solucionar conflitos </h1>
				<li> Reduzir o nível de estresse </h1>
				<li>Desenvolver novas habilidades</h1>
				<li>Trabalhar o conhecimento contínuo</h1>

				</br></br>
				<h3>No DESENVOLVIMENTO ESPIRITUAL vamos:</h3>
				<li> Buscar o equilíbrio espiritual </h1>
				<li> Desenvolver o alinhamento de propósitos</h1>
				<li>Melhorar os relacionamentos humanos </h1>
				<li>Aprender a Perdoar a si mesmo</h1>
				<li> Maior consciência da força Interior </h1>
				<li>Fortalecer as emoções positivas </h1>
				<li>Aprender a desligar-se do passado e Viver o Aqui e Agora</h1>

			</p>

		</section>

		<section id="Planos" class="main special">
		<header class="major">
			<h2>Planos</h2>					
		</header>

		<h4>&bull; ACOLHIMENTO &bull; </h4>
		<p>
			As sessões de acolhimento terapêutico têm o objetivo de trazer alívio das angústias e tensões. Com duração de 30 minutos, pode ser realizada mais de uma vez caso a pessoa sinta necessidade. Porém, é importante conversar com o terapeuta para definir a melhor direção.  
		</p>

		<h4>&bull; TERAPIA INTEGRATIVA &bull; </h4>
		<p>
			A terapia além de possuir espaço para a aliviar a angústia e a dor, também abre possibilidade para que a pessoa consiga promover transformações internas através das intervenções do terapeuta. Com duração de 50 minutos, a terapia tem como foco a melhora da saúde emocional e espiritual.
		</p>
		</section>

	</div>	