---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE HTML>
<!--
	Feito com <3 pelo FabioHCNobre
	Saiba mais !
-->
<html>

	{% include head.html %}

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/logo.png" alt="" /></span>
						<h1>Inspire Terapia Integrativa</h1>
						<p>Cuido da sua saúde emocional e espiritual.<br />
						Siga em nosso instagram <a href="https://www.instagram.com/terapia_inspire/">@terapia_inspire</a>.</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Terapeuta</a></li>
							<li><a href="#first">Terapia</a></li>
							<li><a href="#second">Benefícios</a></li>
							<li><a href="#cta">Agende agora!</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Ola sou o Diego!</h2>
										</header>
										<p>Tenho 34 anos, moro em Araras-SP, sou o fundador da Inspire. Sou jornalista, filósofo, teólogo e estudante de Psicologia.
											A formação acadêmica e a experiência de vida do Diego favorecerá um trabalho terapêutico voltado para escutar atenciosamente as angústias, os medos e as incertezas humanas, e aliviar os sofrimentos através de orientações que favoreçam a busca pelo sentido da vida.
										</p>
										<ul class="actions">
											<li><a href="index.html" class="button">Me conheça</a></li>
										</ul>
									</div>
									<span class="image"><img src="images/diego.jpg" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>O que e a Terapia Integrativa?</h2>
									<p>A Terapia Integrativa é uma abordagem de análise existencia, inspirada na Logoterapia fundada por Viktor Frankl, que comprrende o ser humano na sua dimensão física, psíquica, emocional e espiritual, e tem como principios norteadores a buscca pelo sentido da vida apenas do sofrimento humano.
										</p>
								</header>
								<p class="content">Um mundo cada vez mais agitado, com cobranças e informações chegando numa velocidade inacreditável faz com que a nossa saúde mental, emocional e espiritual seja altamente afetada.

									E cuidar dela é um direito de todos: afinal, quem não preza por uma melhor qualidade de vida?
									
									Se você está adiando para marcar uma consulta por medo, insegurança ou “vergonha”, saiba que não precisa alimentar nenhum desses sentimentos!
									
									Afinal, a responsabilidade por cuidar de você, é sua! Então por que se importar com o que os outros vão dizer?</p>
								
							</section>

						<!-- Second Section -->
							<section id="second" class="main special">
								<header class="major">
									<h2>Benefícios</h2>									
								</header>								
								<p class="content">Uma pessoa que FAZ terapia, vive uma vida completamente diferente de uma pessoa que NÃO faz. Tudo fica mais leve, mais alegre. Terapia não deve ser luxo, mas o essencial e necessário para todas as pessoas.
								</p>							
							</section>

						<!-- Get Started -->
							<section id="cta" class="main special">
								<header class="major">
									<h2>Agende agora sua consulta</h2>
									<p>Conflitos nos Relacionamentos, Ansiedade, Depressão e Procrastinação Sessões 
										on-line ou presencial 👇🏻</p>
								</header>
								<footer class="major">
									<ul class="actions special">
										<li><a href="https://beacons.ai/aconsultoriainspire" class="button primary">beacons.ai/aconsultoriainspire</a></li> 
									</ul>
								</footer>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<a href="#intro"><h2>Inspire Terapia Integrativa</h2></a>
							<p>Cuido da sua saúde emocional e espiritual.</p>
						</section>
						<section>
							<h2>Contato e Local</h2>
							<dl class="alt">
								<dt>Endereço</dt>
								<dd>Rua 7 de setembro &bull; Araras, SP  &bull;</dd>
								<dt>Email</dt>
								<dd><a href="#">aconsultoriainspire@gmail.com</a></dd>
							</dl>
							<ul class="icons"> 
								<li><a href="https://www.instagram.com/terapia_inspire/" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="https://api.whatsapp.com/send/?phone=5519971564256&text&app_absent=0" class="icon brands fa-whatsapp alt"><span class="label">WhatsApp</span></a></li>  
							</ul>
						</section>
						<p class="copyright">&copy; &copy; Feito com <i class="fas fa-heart"></i> pelo <a href="https://github.com/fabiohcnobre" target="_blank" rel="nofollow">FabioHCNobre</a></a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

			{% include analytics.html %}

	</body>
</html>