<!DOCTYPE HTML>
<!--
	Feito com <3 pelo FabioHCNobre
	Saiba mais !
-->
<html>

	<head>
		<title> Inspire Terapia Integrativa</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/logo.png" alt="" /></span>
						<h1>Inspire Terapia Integrativa</h1>
						<p>Cuide da sua saúde emocional e espiritual.<br />
						Siga em nosso instagram <a href="https://www.instagram.com/terapia_inspire/">@terapia_inspire</a>.</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul> 
							<li><a href="#Diego" class="active">Quem sou eu</a></li>
							<li><a href="#Terapia">Terapia Integrativa</a></li>
							<li><a href="#Agendar">Agendar</a></li>
							<li><a href="#Logoterapia">Logoterapia</a></li>
							<li><a href="#Testemunhos">Testemunhos</a></li>
							
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="Diego" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Ola sou o Diego!</h2>
										</header>
										<p>Formado em Jornalismo, Filosofia, Teologia, Coaching e estudante de Psicologia, trabalho, principalmente, com você que busca reduzir o seu nível de estresse, organizar a sua rotina, gerenciar o seu tempo para aumentar a sua produtividade, desempenho e qualidade de vida, focar no que realmente importa e eliminar as distrações, superar o medo e a ansiedade diante de uma tomada de decisão importante e desenvolver uma espiritualidade que alcance a harmonia e a paz interior. </p>
										<p>	Há 15 anos compreendendo, analisando e treinando pessoas, quero compartilhar com você a minha experiência pessoal e profissional de aprimoramento na busca do autoconhecimento e do reconhecimento do meu propósito de vida que me faz ser resiliente e solidário diante dos obstáculos e a superar os desafios com paciência, sabedoria, coragem e determinação. 
										</p>
										<ul class="actions">
											<li><a href="index.html" class="button">Me conheça</a></li>
										</ul>
									</div>
									<span class="image"><img src="images/diego.jpg" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="Terapia" class="main special">
								<header class="major">
									<h2>O que e a Terapia Integrativa?</h2>
									<p>A Terapia Integrativa é uma abordagem de análise existencia, inspirada na Logoterapia fundada por Viktor Frankl, que comprrende o ser humano na sua dimensão física, psíquica, emocional e espiritual, e tem como principios norteadores a buscca pelo sentido da vida apenas do sofrimento humano.
										</p>
								</header>
								<p class="content">O Plano de Terapia tem como objetivo favorecer o desenvolvimento pessoal e espiritual em alta performance, identificando os pensamentos e atitudes da sua história de vida que te impedem de superar os conflitos para alcançar outro nível em sua vida, tornando-se mais produtiva, realizada e feliz.
									</p>
							</section>

						<!-- Get Started -->
							<section id="Agendar" class="main special">
								<header class="major">
									<h2>Agende agora sua consulta</h2>
									<h4>CUIDE DA SUA SAÚDE EMOCIONAL E ESPIRITUAL, E INSPIRE!</h4>
									<p>Conflitos nos Relacionamentos, Ansiedade, Depressão e Procrastinação Sessões 
										on-line ou presencial 👇🏻</p>									
								</header>
								<footer class="major">
									<ul class="actions special">
										<li><a href="https://www.instagram.com/terapia_inspire/" class="button primary"> Via Instagram <span class="icon brands fa-instagram"></span> </a></li>
										<li><a href="https://api.whatsapp.com/send/?phone=5519971564256&text&app_absent=0" class="button whatsapp">Via WhatsApp <span class="icon brands fa-whatsapp"></span></a></li>
									</ul>
								</footer>
								<dt>Endereço</dt>
								<dd>Rua 7 de setembro, 666 - Centro &bull; Araras, SP</dd>
							</section>

								<section id="Logoterapia" class="main special">
									<header class="major">
										<h2>Logoterapia</h2>
									</header>
									<p>
										<span class="image left"><img src="images/pessoas.jpg" alt="Pessoas" /></span>
										A Terapia com o método da Logoterapia de Viktor Frankl é um dos instrumentos mais eficazes de desenvolvimento humano. Ao entrar nesse universo, você será capaz de sentir o poder da transformação diariamente, tanto no âmbito pessoal como no espiritual. As sessões funcionam por meio de perguntas que levam você à reflexão, potencializando seus pontos fortes, trabalhando seus pontos de melhoria e visando a eliminação de pensamentos limitantes, o que tem um impacto real em todos aspectos da sua vida.

										<h3>No DESENVOLVIMENTO PESSOAL vamos:</h3>

										<li> Elaborar um Projeto de vida</h1>
										<li> Superar crenças limitantes</h1>
										<li> Desenvolver a gestão emocional</h1>
										<li> Buscar por respostas para questões complexas</h1>
										<li> Trabalhar a confiança em si mesmo</h1>
										<li> Alcançar com maior agilidade e assertividade os seus objetivos</h1>
										<li> Construir uma visão de futuro clara e real</h1>
									</p>

								</section>

							<section id="Testemunhos" class="main special">
								<header class="major">
									<h2>Testemunhos</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon solid major style1 fa-user"></span>
										<h3>Nome Sobrenome</h3>
										<p>Gostei da Terapia.</p>
									</li>
									<li>
										<span class="icon major style3 fa-user"></span>
										<h3>Nome Sobrenome</h3>
										<p>Gostei da Terapia.</p>
									</li>
									<li>
										<span class="icon major style5 fa-user"></span>
										<h3>Nome Sobrenome</h3>
										<p>Gostei da Terapia.</p>
									</li>
								</ul>								
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<a href="#intro"><h2>Inspire Terapia Integrativa</h2></a>
							<p>Cuide da sua saúde emocional e espiritual.</p>
						</section>
						<section>
							<h2>Contato e Local</h2>
							<dl class="alt">
								<dt>Endereço</dt>
								<dd>Rua 7 de setembro, 666 - Centro &bull; Araras, SP  &bull;</dd>
								<dt>Telefone</dt>
								<dd><a href="https://api.whatsapp.com/send/?phone=5519971564256&text&app_absent=0">(19) 97156-4256</a></dd>
								<dt>Email</dt>
								<dd><a href="mailto:aconsultoriainspire@gmail.com">aconsultoriainspire@gmail.com</a></dd>
							</dl>
							<ul class="icons"> 
								<li><a href="https://www.instagram.com/terapia_inspire/" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="https://api.whatsapp.com/send/?phone=5519971564256&text&app_absent=0" class="icon brands fa-whatsapp alt"><span class="label">WhatsApp</span></a></li>  
							</ul>
						</section>
						<p class="copyright">&copy; &copy; Feito com <i class="fas fa-heart"></i> pelo <a href="https://github.com/fabiohcnobre" target="_blank" rel="nofollow">FabioHCNobre</a></a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

		{% if site.analytics %}
  			{% include analytics.html %}
		{% endif %}
	</body>
</html>