---
layout: default
---
	{% include header.html %}

	<div id="main">

			<section id="content" class="main">
				<span class="image main"><img src="images/inspire.png" alt="" /></span>
				<h2>Profissional qualificado</h2>
				<p>Diego Santos, além de ser jornalista, filósofo, teólogo e estudante de Psicologia, possui experiência no desenvolvimento pessoal e espiritual. </p>
				
				<h2>Segurança</h2>
				<p>Ambiente seguro e sigiloso, seguindo a ética profissional, onde apenas você e o terapeuta tem acesso.</p>
			
				<h2>Disponibilidade</h2>
				<p>On-line ou Presencial. Você escolhe a opção de comunicação que tem mais familiaridade.</p>
			
				<h2>Flexibilidade</h2>
				<p>On-line ou Presencial. Você escolhe a opção de comunicação que tem mais familiaridade.</p>
			
			</section>

			<section id="ESPECIALIDADES" class="main special">
				<header class="major">
					<h2>ESPECIALIDADES</h2>					
				</header>
				<li> Conflitos Familiares </h1>
				<li> Depressão </h1>
				<li> Ansiedade </h1>
				<li> Conflitos Emocionais </h1>
				<li> Estresse </h1>
				<li> Luto </h1>
				<li> Autoestima </h1>
				<li> Autoconhecimento </h1>
				<li> Conflitos Pessoais </h1>
			</section>

			{% include contact.html %}

	</div>