{% assign agendar = site.data.data.agendar %}
<section id="Agendar" class="main special">
    <header class="major">
        <h2><div class="changing-words">{{ agendar.title }}<span>{{ agendar.palavra1 }}</span> <span>{{ agendar.palavra2 }} </span> </div></h2>
        <h4>{{ agendar.subtitle }}</h4>
        <p>{{ agendar.detalhes | markdownify }}</p>
        <ul class="actions"> 
            <li><a href="{{ empresa.site }}/whatsapp" class="button whatsapp">WhatsApp<i class="fa fa-whatsapp" ></i></a></li>
            <li><a href="{{ empresa.site }}/instagram" class="button instagram">Instagram <i class="fa fa-instagram" ></i></a></li>
            <li><a href="{{ empresa.emaillink }}" class="button telegram"> E-mail <i class="fa-solid fa-envelope"></i></a></li>
        </ul> 
    </header>
</section>