<section id="Agendar" class="main special">
    <header class="major">
        <h2>Agende agora sua consulta</h2>
        <h4>CUIDE DA SUA SAÚDE EMOCIONAL E ESPIRITUAL, E INSPIRE!</h4>
        <p>
            Conflitos nos Relacionamentos, Ansiedade, Depressão e Procrastinação Sessões
            on-line ou presencial 👇🏻
        </p>
    </header>
    <footer class="major">
        <ul class="actions special">
            <li><a href="https://www.instagram.com/terapia_inspire/" class="button primary"> Via Instagram <span class="icon brands fa-instagram"></span> </a></li>
            <li><a href="https://api.whatsapp.com/send/?phone=5519971564256&text&app_absent=0" class="button whatsapp">Via WhatsApp <span class="icon brands fa-whatsapp"></span></a></li>
        </ul>
    </footer>
    <dt>Endereço</dt>
    <dd>Rua 7 de setembro, 666 - Centro &bull; Araras, SP</dd>
</section>