<section id="Agendar" class="main special">
    <header class="major">{% if page.language == "en" %}{% assign data = site.data.dataen %}{% else %}{% assign data = site.data.data %}{% endif %} 
        <h2><div class="changing-words">{{ data.agendar.title }}<span>{{ data.agendar.palavra1 }}</span> <span>{{ data.agendar.palavra2 }} </span> </div></h2>
        <h3>{{ data.agendar.subtitle }}</h4>
        <p>{{ data.agendar.detalhes | markdownify }}</p>
        <ul class="actions"> 
            <li><a href="../whatsapp" class="button whatsapp">WhatsApp<i class="fa fa-whatsapp" ></i></a></li>
            <li><a href="../instagram" class="button instagram">Instagram <i class="fa fa-instagram" ></i></a></li>
            <li><a href="{{ data.empresa.emaillink }}" class="button telegram"> E-mail <i class="fa-solid fa-envelope"></i></a></li>
        </ul> 
    </header>
</section>