{% assign experiences = site.data.data.education %}
{% if education %}
<section class="section education-section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
        </span>
        Histórico Acadêmico
    </h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{ education.degree }}</h3>
                <div class="time">{{ education.time }}</div>
            </div><!--//upper-row-->
            <div class="company">{{ education.university }}</div>

        </div><!--//meta-->
        {% if education.details %}
        <div class="details">
            {{ education.details | markdownify }}
        </div><!--//details-->
        {% endif %}

    </div><!--//item-->

</section><!--//section-->
{% endif %}

