<footer id="footer">
    <section>
        <span class="logo"><a href="https://terapiainspire.com.br/"><img src="images/logo.png" alt="logo" /></a></span>
        <a href="https://terapiainspire.com.br/"><h2>Inspire Terapia Integrativa</h2></a>
        <p>Cuide da sua saúde emocional e espiritual.</p>
    </section>
    <section>
        <h2>Contato e Local</h2>
        <dl class="alt">
            <dt>Endereço</dt>
            <dd>Rua 7 de setembro, 666 - Centro &bull; Araras, SP  &bull;</dd>
            <dt>Telefone</dt>
            <dd><a href="https://api.whatsapp.com/send/?phone=5519971564256&text&app_absent=0">(19) 97156-4256</a></dd>
            <dt>Email</dt>
            <dd><a href="mailto:terapiainspire@gmail.com">terapiainspire@gmail.com</a></dd>
        </dl>
        <ul class="icons">
            <li><a href="https://terapiainspire.com.br/Instagram" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
            <li><a href="https://terapiainspire.com.br/whatsapp" class="icon brands fa-whatsapp alt"><span class="label">WhatsApp</span></a></li>
            <li><a href="https://t.me/terapiainspire" class="icon brands fa-telegram alt"><span class="label">Telegram</span></a></li>
            <li><a href="https://g.page/r/CSKVjwmt_FcfEBA" class="icon solid fa-location-dot alt"><span class="label">Google Maps</span></a></li>
            <li><a href="https://www.waze.com/en/live-map/directions/br/sp/terapia-inspire?place=ChIJkc-Co0h3yJQRIpWPCa38Vx8" class="icon brands fa-waze alt"><span class="label">Waze</span></a></li>
        </ul>
    </section>
    <p class="copyright"><i class="fas fa-brands fa-creative-commons"></i>  Feito com <i class="fas fa-heart"></i> pelo <a href="https://www.linkedin.com/in/fabiohcnobre" target="_blank" rel="nofollow">FabioHCNobre</a></a>. - {{ site.time | date: '%Y' }}  </p>
</footer>