{% assign empresa = site.data.data.empresa %}
<footer id="footer">
    <section>
        <span ><a href="{{ site.url }}"><img src="images/logo.jpg" class="footerlogo" alt="Logo" /></a></span>
        <a href="{{ site.url }}"><h2>{{ empresa.nome }}</h2></a>
        <p>{{ empresa.slogan }}</p>
    </section>
    <section>
        <h2>{{ empresa.title }}</h2>
        <dl class="alt">
            <dt>Endereço: </dt>  <dd class="footerTab"><a href="{{ empresa.enderecolink }}">{{ empresa.endereco }} <i class="fa-solid fa-location-dot"></i></a></dd>
            <dt>Telefone: </dt>  <dd class="footerTab"><a href="{{ empresa.telefonelink }}"> {{ empresa.telefone }} <i class="fa fa-whatsapp"></i></a></dd>
            <dt>E-mail: </dt>    <dd class="footerTab"><a href="{{ empresa.emaillink }}"> {{ empresa.email }} <i class="fa-solid fa-envelope"></i></a></dd>
            <ul class="icons">
                <li><a aria-label="Instagram" href="{{ empresa.site }}/instagram"><i class="icon brands fa fa-instagram alt"></i></a></li>
                <li><a aria-label="Telegram" href="{{ empresa.telegramlink }}"><i class="icon brands fa fa-telegram alt"></i></a></li>
                <li><a aria-label="Waze" href="{{ empresa.wazelink }}"><i class="icon brands fa fa-waze alt"></i></a></li>
            </ul>
        </dl>
    </section>
    <p class="copyright"><i class="fas fa-brands fa-creative-commons"></i>  Feito com <i class="fas fa-heart"></i> pelo <a href="https://www.linkedin.com/in/fabiohcnobre"  alt="FabioHCNobre" >FabioHCNobre</a> - Atualizado em: {{ site.time | date: '%d/%m/%y %H:%M' }}  </p>
</footer>