{% assign empresa = site.data.data.empresa %}
<footer id="footer">
    <section>
        <span class="logo"><a href="https://terapiainspire.com.br/"><img src="images/logo.png" alt="logo" /></a></span>
        <a href="https://terapiainspire.com.br/"><h2>{{ empresa.nome }}</h2></a>
        <p>{{ empresa.slogan }}</p>
    </section>
    <section>
        <h2>Contato e Local</h2>
        <dl class="alt">
            <dt>Endereço</dt>
            <dd> {{ empresa.endereco }} </dd>
            <dt>Telefone</dt>
            <dd><a href="https://api.whatsapp.com/send/?phone=5519971564256&text&app_absent=0"> {{ empresa.telefone }}</a></dd>
            <dt>E-mail</dt>
            <dd><a href="mailto:terapiainspire@gmail.com"></a> {{ empresa.email }} </dd>
        </dl>
        <ul class="icons">
            <li><a href="https://terapiainspire.com.br/instagram" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
            <li><a href="https://terapiainspire.com.br/whatsapp" class="icon brands fa-whatsapp alt"><span class="label">WhatsApp</span></a></li>
            <li><a href="https://t.me/terapiainspire" class="icon brands fa-telegram alt"><span class="label">Telegram</span></a></li>
            <li><a href="https://g.page/r/CSKVjwmt_FcfEBA" class="icon solid fa-location-dot alt"><span class="label">Google Maps</span></a></li>
            <li><a href="https://www.waze.com/en/live-map/directions/br/sp/terapia-inspire?place=ChIJkc-Co0h3yJQRIpWPCa38Vx8" class="icon brands fa-waze alt"><span class="label">Waze</span></a></li>
        </ul>
    </section>
    <p class="copyright"><i class="fas fa-brands fa-creative-commons"></i>  Feito com <i class="fas fa-heart"></i> pelo <a href="https://www.linkedin.com/in/fabiohcnobre" target="_blank" rel="nofollow">FabioHCNobre</a></a>. - Atualizado em: {{ site.time | date: '%d/%m/%Y %H:%M' }}  </p>
</footer>