<head>
    <meta charset="utf-8">
    {% if site.color %}<meta name="theme-color" content="{{ site.color }}">{% endif%}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}"> 
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="facebook-domain-verification" content="gpdud8n9gholnz15iyfjgubrltk1jt" /> 
    <link rel="shortcut icon" href="favicon.ico">
	<meta name="google-site-verification" content="zrFrEbZsiJ_Z5r6tov77OLog30GuCw_zJdMkF-W4YlQ">
    <meta name="robots" content="all"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        .accordion-btn {background-color: #ADD8E6;color: #444;cursor: pointer;padding: 18px;width: 100%;border: none;text-align: left;outline: none;font-size: 15px;transition: 0.4s;}.container {padding: 0 18px;display: none;background-color: white;overflow: hidden;}h1 {word-spacing: 5px;color: blue;font-weight: bold;text-align: center;}
    </style>
    <link rel="preload" href="../assets/css/main.css"" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="../assets/css/main.css""></noscript>
    {% seo %}
    {%- include analytics.html -%}
    {%- include scripts.html -%}
</head>