---
title: Agenda & Eventos
layout: default
---
		<header id="header" class="alt">
		<span class="logo"><img src="images/logo.png" alt="" /></span>
		<h1>Agenda & Eventos</h1>
		<p>Se ame mais. Eu quero te ajudar a resgatar o seu amor-próprio e te fazer compreender que você merece muito mais.<br />
			Esse mês teremos dois eventos incríveis que serão divisores de águas na sua vida. <br />					
			Anote na sua agenda e acompanhe nos próximos dias mais informações sobre a inscrição e como participar.</p>
		</header>
	<div id="main"> 
			{% include home/agenda.html %}
			{% include contact.html %}
	</div>