<!DOCTYPE HTML>
<!--
	Feito com <3 pelo FabioHCNobre
	Saiba mais !
-->
<html lang="pt-br">

<!-- head -->	
{% include head.html %}

<body class="is-preload">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MC6VDTV"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- Wrapper -->
	<div id="wrapper">

		{{ content }}

		<!-- Footer -->
		{% include footer.html %}

	</div>

	<!-- Scripts -->	
	{% include scripts.html %}

</body>
</html>