<!DOCTYPE HTML>
<!--
Feito com <3 pelo FabioHCNobre
-->
{% if page.language == "en" %}{% assign data = site.data.dataen %}<html lang="en"  data-bs-theme="dark"> {% else %}{% assign data = site.data.data %}<html lang="pt-BR"  data-bs-theme="light">{% endif %} 
{% include head.html %}
<body class="is-preload">
	<div id="wrapper"> 
		<br />
		{% include nav.html %}
		<div id="main"  class="main">
			{{ content }}
		</div>
		{% include footer.html %}
	</div>
	{% include scripts.html %}
</body>
</html>