{% assign agenda = site.data.agenda.agenda %}
{% capture datenow %}{{'now' | date: '%s'}}{% endcapture %}
{% assign mostraragenda = false %}
{% for compromisso in agenda.compromisso %}
    {% capture dateinicial1 %}{{compromisso.dateinicial | date: '%s'}}{% endcapture %}
    {% capture datefinal1 %}{{compromisso.datefinal | date: '%s'}}{% endcapture %}
    {% if dateinicial1 < datenow and datefinal1 > datenow and compromisso.visible %}
        {% assign mostraragenda = true %}
    {% endif %}
{% endfor %} 
<nav id="nav">
    <ul>{% if page.language == "en" %}{% assign data = site.data.dataen %}{% else %}{% assign data = site.data.data %}{% endif %} 
        <li class="navcontato"><a href="#Inspire" class="active">{{data.menu.item1}}</a></li>        
        <li class="navmenu" ><a href="#Terapia" >{{data.menu.item2}} </a></li>
        <li class="navmenu" ><a href="#Planos">{{data.menu.item3}}</a></li>        
        <li class="navmenu" ><a href="#Logoterapia">{{data.menu.item4}}</a></li>        
        <li class="navcontato"><a href="#Diego" >{{data.menu.item5}}</a></li>
        {% if agenda.visible and mostraragenda | default: false %}<li class="navmenu" ><a href="#Eventos">{{data.menu.item6}} </a></li>{% endif %} 
        <li class="navcontato"><a href="https://terapiainspire.com.br/whatsapp" >{{data.menu.item7}} <i class="fa fa-whatsapp"></i></a></li>   
    </ul>
</nav>